entrypoint="index.html"
hidden=[".config"]
modules = ["web:v2-20230623-0b7a606"]

[nix]
channel = "stable-23_11"

[deployment]
publicDir = "/"
deploymentTarget = "static"

[workflows]
runButton = "Serve HTML"

[[workflows.workflow]]
name = "Serve HTML"
author = 24606645
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python -m http.server 8080"
